<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]iExplore Moldova</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/iExploreMoldova.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="/images/iExploreMoldova.png" width="150" height="80" alt="IExplore Moldova Logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Location" asp-action="List">Locations</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Search</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactUs" asp-action="Index">Contact Us</a>
                    </li>

                </ul>
                    <button class="btn btn-dark">
                        <a class="nav-link text-light" asp-area="" asp-controller="CartTicket" asp-action="Index">My Tickets</a>
                    </button> 
            </div>
        </div>
    </nav>
</header>


@*<div id="carouselExampleInterval" class="carousel slide fixed-top" data-bs-ride="carousel" style="max-height: 200px;">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://guidedtours.one/pic/sections/gallery/5123//Day_6_Milestii_Mici_winery__Moldova_4.jpg" class="d-block w-50" alt="Location">
        </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://cdn.thecrazytourist.com/wp-content/uploads/2023/02/ccimage-shutterstock_1226633419.jpg" class="d-block w-50" alt="Location">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
                <img src="https://ways.md/storage/posts/November2019/Capture111-768x495.jpg" class="d-block w-50" alt="Location">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
                <img src="https://media1.travelguide.de/media/c/md.jpeg" class="d-block w-50" alt="Location">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
                <img src="https://www.helloholidays.ro/blog/wp-content/uploads/2016/09/chisinau.jpg" class="d-block w-50" alt="Location">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - iExplore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
