@model HomeViewModel

<div class="container mt-4">
    <h1>Top Locations</h1>
    <div class="row">
        @foreach (var location in Model.TopLocations)
        {
            <partial name="_LocationCard" model="location" />
        }
    </div>
</div>